@*@using HMS.Models;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@model IEnumerable<RegisterViewModel>


<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title text-center">@ViewBag.Title</h5>
        <div class="scroll-area-sm">
            <div class="scrollbar-container">
                <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">

                    @foreach (var item in Model)
                    {

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <img width="42" class="rounded-circle" src="~/Content/Images/2.jpg" alt="">
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">   @Html.DisplayFor(modelItem => item.Username)</div>
                                        <div class="widget-subheading">
                                            @{
                                                var userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
                                                var userRoles = userManager.GetRoles(User.Identity.GetUserId());
                                                var role = userRoles[0];
                                            }
                                            @role
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="font-size-xlg text-muted">
                                            <span>   @Html.DisplayFor(modelItem => item.Email)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>
</div>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmPassword)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

</table>*@
