@model HMS.ViewModels.WardViewModel

<div class="modal-header">
    <h5 class="card-title">Create New Ward</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="Status"> @Html.DisplayNameFor(model => model.Ward_Status)</label>
                @{
                    List<SelectListItem> listItems1 = new List<SelectListItem>();
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Available",
                        Value = "1"
                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Not Available",
                        Value = "0"
                    });
                }

                @Html.DropDownListFor(model => model.Ward_Status, listItems1, "Status", new { @class = "form-control", id = "validationCustomSelect" })
                <small id="emailHelp" class="form-text text-muted"> @Html.ValidationMessageFor(model => model.Ward_Status, "", new { @class = "text-danger" })</small>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/AjaxSubmit")