@using HMS.ViewModels;
@model PatientViewModel
@using HMS.MVCHelper

@{
    ViewBag.Title = "Patient Information";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        <h4 style="font-weight: 600;">Patient Information</h4>
                        @Html.HiddenFor(model => model.Patient_ID)

                    </div>
                </div>

                <div class="page-title-actions">
                    <div class="d-inline-block dropdown">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                @if (ViewBag.PatientHealthDetail == null)
                                {
                                    <div class="badge badge-pill badge-success float-lg-right">New</div>
                                }
                                <div class="profile col-lg-12">
                                    <div class="text-center">
                                        <img class="rounded-circle" src="@Url.Content("~/Content/Images/ProfilePictures/default.jpg")" alt="">
                                    </div>
                                    <div class="text-center mt-3 ">
                                        <h4 class="font-weight-bolder">@Html.DisplayFor(m => m.First_Name) @Html.DisplayFor(m => m.Last_Name) </h4>
                                        <h6 class="font-weight-bold text-muted">Age @Html.DisplayFor(m => m.Patient_Age)</h6>

                                        <div class="pt-4 mb-0">
                                            @(ViewBag.PatientHealthDetail == null ?
                                                @Html.ModelDialogEdit("Create", "CreateHealth", "DoctorDashBoard", routeValues: new { id = @Model.Patient_ID })
                                                : @Html.ModelDialogEdit("Update", "Update", "DoctorDashBoard", routeValues: new { id = @Model.Patient_ID }))
                                        </div>
                                        <div>
                                            <small class='text-capitalize text-muted font-weight-bolder'>
                                                @(ViewBag.PatientHealthDetail == null ?
                                                "Please create patient health info!"
                                                :
                                                "Please update patient health info!")
                                            </small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* Information *@
                    <div class="col-lg-12">

                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Information: </h4>
                                <div class="row">
                                    <div class="col-lg-5 col-5 font-weight-bolder">
                                        @Html.LabelFor(m => m.Gender):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @Html.DisplayFor(m => m.Gender)
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.Bloodgroup):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @Html.DisplayFor(m => m.Bloodgroup)
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.Allergies):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @(ViewBag.PatientHealthDetail == null ? "--" : ViewBag.PatientHealthDetail.Allergies)
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.Diseases):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @(ViewBag.PatientHealthDetail == null ? "--" : ViewBag.PatientHealthDetail.Diseases)
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.Height):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @(ViewBag.PatientHealthDetail == null ? "--" : ViewBag.PatientHealthDetail.Height)
                                        @*@(Model.Height == null ? 0 : Model.Height)*@
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.Weight):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @(ViewBag.PatientHealthDetail == null ? "--" : ViewBag.PatientHealthDetail.Weight)
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.Patient_ID):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @Html.DisplayFor(m => m.Patient_ID)
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.LastVisit):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @(ViewBag.PatientHealthDetail == null ? "--" : ViewBag.PatientHealthDetail.LastVisit)
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.Patient_Phone):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @Html.DisplayFor(m => m.Patient_Phone)
                                    </div>

                                    <div class="col-lg-5 col-5">
                                        @Html.LabelFor(m => m.Patient_Email):
                                    </div>

                                    <div class="col-lg-7 col-7">
                                        @(Model.Patient_Email == null ? "-" : @Model.Patient_Email)
                                    </div>



                                    @*<div class="col-lg-12 col-12">
                                            @Html.DisplayFor(m => m.Address)
                                        </div>

                                        <div class="col-lg-5 col-5">
                                            @Html.LabelFor(m => m.Registered_Date):
                                        </div>

                                        <div class="col-lg-7 col-7">
                                            <div>
                                                @Html.DisplayFor(m => m.Registered_Date)
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-8">
                    @* Health Information *@
                    <div class="col-lg-12 row">
                        <div class="col-md-4">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <i class="fas fa-heartbeat fa-3x icon-gradient bg-love-kiss"></i>
                                        </div>
                                        <div class="text-center mt-3">
                                            <h6 class="med-heading">Heart Rate</h6>
                                            <h4 class="font-weight-bolder">
                                                @(ViewBag.PatientHealthDetail == null ? "--" : ViewBag.PatientHealthDetail.HeartRate)<small> bpm</small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 he-100">
                            <div class="main-card mb-3 card he-50">
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <i class="fas fa-thermometer-three-quarters fa-3x icon-gradient bg-love-kiss"></i>
                                        </div>
                                        <div class="text-center mt-3">
                                            <h6 class="med-heading">Body Temperature</h6>
                                            <h4 class="font-weight-bolder">@(ViewBag.PatientHealthDetail == null ? "--" : ViewBag.PatientHealthDetail.BodyTemperature)<small> c</small></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 he-100">
                            <div class="main-card mb-3 card he-50">
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <i class="fas fa-vial fa-3x icon-gradient bg-love-kiss"></i>
                                        </div>
                                        <div class="text-center mt-3">
                                            <h6 class="med-heading">Glucose</h6>
                                            <h4 class="font-weight-bolder">@(ViewBag.PatientHealthDetail == null ? "--" : ViewBag.PatientHealthDetail.Glucose)<small> mg/dl</small></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Test Report *@
                        <div class="col-md-12">

                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title fsize-1">Test Report</h5>

                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="test-report">
                                                    <div class="test-icon">
                                                        <i class="fas fa-print icon-gradient bg-warning"></i>
                                                    </div>
                                                    <div class="test-header">
                                                        <div class="test-title">CT Scan-Full Body</div>
                                                        <div class="test-date text-muted font-weight-bold">16th August 2020</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="test-report">
                                                    <div class="test-icon">
                                                        <i class="fas fa-print icon-gradient bg-warning"></i>
                                                    </div>
                                                    <div class="test-header">
                                                        <div class="test-title">CT Scan-Full Body</div>
                                                        <div class="test-date text-muted font-weight-bold">16th August 2020</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="test-report">
                                                    <div class="test-icon">
                                                        <i class="fas fa-print icon-gradient bg-warning"></i>
                                                    </div>
                                                    <div class="test-header">
                                                        <div class="test-title">CT Scan-Full Body</div>
                                                        <div class="test-date text-muted font-weight-bold">16th August 2020</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Prescription *@
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">Prescriptions</h5>
                                    @Html.ModelPresDialog("Add Prescription", "Create", "DoctorDashBoard", routeValues: new { id = @Model.Patient_ID })


                                    <table class="mb-0 table table-borderless">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Prescription</th>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Duration</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{var prescriptionList = ViewBag.PrescriptionList as List<HMS.ViewModels.PrescriptionViewModel>; }
                                            @if (prescriptionList.Count > 0)
                                            {
                                                foreach (var item in ViewBag.PrescriptionList)
                                                {
                                                    <tr>
                                                        <td class="" width="30%"><i class="fas fa-print fa-1x pr-2"></i>@item.Desease </td>
                                                        <td class="text-center" width="50%">@item.Date.ToString("dd MMMM yyyy")</td>


                                                        @if (item.Years > 0)
                                                        {
                                                            <td class="text-center">
                                                                @item.Years years
                                                            </td>
                                                        }
                                                        else if (item.Months > 0)
                                                        {
                                                            <td class="text-center">
                                                                @item.Months months
                                                            </td>
                                                        }
                                                        else if (item.Days > 0)
                                                        {
                                                            <td class="text-center">
                                                                @item.Days days
                                                            </td>
                                                        }
                                                        else if (item.Hours > 0)
                                                        {
                                                            <td class="text-center">
                                                                @item.Hours hrs
                                                            </td>
                                                        }
                                                        else if (item.Minutes > 0)
                                                        {
                                                            <td class="text-center">
                                                                @item.Minutes min
                                                            </td>
                                                        }
                                                        else if (item.Seconds >= 0)
                                                        {
                                                            <td class="text-center">
                                                                @item.Seconds sec
                                                            </td>
                                                        }

                                                    <td>
                                                        @Html.DetailLinkPopup("PrescriptionDetails", "DoctorDashBoard", routeValues: new { id = item.PrescriptionId })
                                                    </td>

                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td class="text-center" colspan="3">No Details Fount!</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>










