@model HMS.Models.AspNetUser

@{
    string allRoles = "";
    foreach (var role in Model.AspNetRoles)
    {
        allRoles += role.Name + ", ";
    }
    if (allRoles.Contains(","))
    {
        allRoles = allRoles.Remove(allRoles.LastIndexOf(","));
    }
}

<div style="display:table-row">
    <h3>@Model.UserName (ID @Model.Id)</h3>
    <div>
        <dl class="inline">
            @*<dt><strong>Date of Birth</strong></dt>
            <dd>@Html.DisplayFor(x => x.PhoneNumber)</dd> //Display Template for DateTime
            <dt><strong>Is Admin?</strong></dt>
            <dd>@(Model.IsAdmin ? "YES" : "NO")</dd>*@
            <dt><strong>Username</strong></dt>
            <dd>@Model.UserName</dd>
            <dt>Roles</dt>
            <dd>@(String.IsNullOrWhiteSpace(allRoles) ? "NONE" : allRoles)</dd>
            @foreach (var address in Model.Address)
            {
                <dt>Address</dt>
                <dd>@Html.DisplayFor(x => address)</dd>
//Display Template for Address
            }
        </dl>
    </div>
</div>