@model HMS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">

                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title text-center">@ViewBag.Title</h5>
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="form-row">

                                    <div class="col-md-12 mb-3">
                                        <label for="validationTooltipUsername">
                                            @Html.LabelFor(m => m.OldPassword)
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="validationTooltipUsernamePrepend">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </div>
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "validationTooltipUsername", })
                                            <small id="emailHelp" class="form-text text-muted"> 
                                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                            </small>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">

                                    <div class="col-md-12 mb-3">
                                        <label for="validationTooltip03"> @Html.LabelFor(m => m.NewPassword)</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="validationTooltipUsernamePrepend">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </div>
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "validationTooltip03" })
                                            <div class="invalid-tooltip">
                                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">

                                    <div class="col-md-12 mb-3">
                                        <label for="validationTooltip03">
                                            @Html.LabelFor(m => m.ConfirmPassword)
                                        </label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="validationTooltipUsernamePrepend">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </div>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "validationTooltip03" })

                                            <div class="invalid-tooltip">
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <button class="btn btn-primary" type="submit">Register</button>
                                @*<a href="/Account/Login" class="btn btn-primary" type="submit">Back to Login</a>*@

                            </div>
                        </div>
                    }

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }

                </div>
            </div>
        </div>
    </div>
</div>