@model IEnumerable<HMS.ViewModels.DeseaseViewModel>
@using HMS.MVCHelper

@{
    ViewBag.Title = "Desease";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        <h4 style="font-weight: 600;">Deseases</h4>

                    </div>

                </div>


                <div class="page-title-actions">
                    <div class="d-inline-block dropdown">
                        @Html.ModelDialog("<i class='fa fa-disease fa-w-20'></i> Add Disease", "Add Desease", Url.Action("Create", "Deseases"))
                        @*<button type="button" class="btn-shadow btn btn-info btn-create-desease">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-user-plus fa-w-20"></i>
                                </span>
                                Add Desease
                            </button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-6">

                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Deseases</h5>
                            <div class="scroll-area-lg">
                                <div class="scrollbar-container ps--active-y">

                                    <div class="table-responsive">
                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(m => m.Desease)</th>
                                                    <th class="text-center">Update</th>
                                                </tr>
                                            </thead>
                                            <tbody>



                                                @foreach (var d in Model)
                                                {

                                                    <tr>
                                                        <td>

                                                            @d.Desease
                                                        </td>

                                                        <td class="text-center">

                                                            @Html.ModelDialogEdit("Edit", "Edit", "Deseases", routeValues: new { id = d.Desease_ID })
                                                            @Html.ModelDialogDelete("Delete", "Delete", "Deseases", routeValues: new { id = d.Desease_ID })

                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
